[submodule "edge-node-red"]
	path = edge-node-red
	url = https://github.com/packiot/edge-node-red.git
[submodule "oeecloud-node-red"]
	path = oeecloud-node-red
	url = https://github.com/packiot/oeecloud-node-red.git
[submodule "edge-api"]
	path = edge-api
	url = https://github.com/packiot/edge-api.git
	branch = development
[submodule "operator"]
	path = operator
	url = git@github.com:packiot/operator4
	branch = refactor/decompose-components
